body {
  background-image: url("images/background.jpg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

h1 {
  text-align: center;
  text-decoration: underline;
  background: rgb(206, 96, 96, 0.3);
  font-size: 60px;
}
h2 {
  color: rgb(190, 12, 42);
  background: rgba(243, 146, 214, 0.377);
}

button {
  background: rgb(155, 53, 70);
  color: white;
  border-radius: 20px;
  border: 4px;
  padding: 20px;
  display: block;
  margin: 0 auto;
  transition: all 300ms ease-in-out;
  width: 120px;
  height: 30px;
  font-size: 11px;
}
button:hover {
  background: rgb(255, 255, 255, 0.2);
  color: rgb(173, 20, 45);
  font-weight: bolder;
  border: solid rgb(155, 93, 103);
  cursor: pointer;
}
.cover {
  max-width: 800px;
  margin: auto;
  background: rgb(255, 255, 255, 0.4);
  padding: 30px;
}

.greet {
  color: purple;
}

img {
  width: 350px;
  height: 350px;
  display: block;
  margin: 0 auto;
  border-radius: 4px;
  position: relative;
}
a {
  text-decoration: none;
}

a:hover {
  color: rgb(57, 3, 107);
  font-weight: bold;
  text-decoration: underline;
}

.pages {
  text-decoration: underline;
}

.measurementsMethod {
  color: rgb(57, 12, 99);
}

.bananaBread {
  width: 300px;
  height: 350px;
}
li {
  list-style: none;
}
