body {
  background: rgb(194, 117, 130);
}

h1 {
  text-align: center;
  text-decoration: underline;
}

.cover {
  max-width: 800px;
  margin: auto;
  background: rgb(194, 74, 148);
  padding: 30px;
}

img {
  width: 250px;
  height: 350px;
  display: block;
  margin: 0 auto;
  border-radius: 4px;
}

.measurementsMethod {
  color: rgb(57, 12, 99);
}
